@model List<DoctorSkin.Models.Products>
@foreach (var item in Model)
{
    <li>
        <a>
            <figure>
                <a class="aa-product-img" href="/home/details/@item.idp">
                    <img src="@item.img" style="width:100%"
                         alt="">
                </a>
                <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                <figcaption>
                    <h4 class="aa-product-title" style=" -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box;"><a href="#">@item.namep</a></h4>
                    <span class="aa-product-price">@item.newprice</span><span class="aa-product-price"><del>@item.oldprice</del></span>
                </figcaption>
            </figure>
            <div class="aa-product-hvr-content">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <span class="fa fa-heart-o"></span>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                    <span class="fa fa-exchange"></span>
                </a>
                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                   data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
            </div>
            <!-- product badge -->
            <span class="aa-badge aa-sale" href="#">@item.statep</span>
        </a>
    </li>
}    