@model IEnumerable<DoctorSkin.Models.Users>
@{
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";

    DoctorSkin.Models.DoctorSkinEntities db = new DoctorSkin.Models.DoctorSkinEntities();

}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />

<div class="sales-boxes">
    <div class="recent-sales box" style="width: 100%;">
        <div class="col-12">
            <div>
                <div class="title" style="width:fit-content;margin:0 auto">
                    Danh sách Nhân viên
                </div>
                <button class="btn btn-primary ml-3" data-toggle="modal" data-target="#addleModal" style="margin-left:0px!important">Thêm nhân viên</button>
                <div style="display:flex; align-items:center;font-size:18px !important;margin-top:8px">
                    <div for="">Danh sách nhân viên theo phân quyền</div>
                    <select class="form-control ml-3" style="width:fit-content" name="sortOrder" onchange="handleSelect(this)" id="select-role">
                        <option value="Admin">Quản trị viên</option>
                        <option value="Doctor">Bác sĩ</option>
                    </select>
                </div>
                <div style="margin-top: 20px">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Tên
                                </th>
                                <th>
                                    Ảnh
                                </th>
                                <th>
                                    Giới tính
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Năm sinh
                                </th>
                                <th>
                                    Phân quyền
                                </th>
                                <th>
                                    Thao tác
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.iduser" @(item.hide ==true ? "style=background-color:#eee" : "")>
                                    <td>
                                        @item.iduser
                                    </td>
                                    <td>
                                        @item.name
                                    </td>
                                    <td>
                                        <img style="width:100px; object-fit: contain" src="@item.ava" />
                                    </td>
                                    <td>
                                        @item.gender
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @item.birth
                                    </td>
                                    <td>
                                        @ViewBag.title
                                    </td>
                                    <td>
                                        <button onclick="btnEdit('@item.iduser')" data-toggle="modal" data-target="#editModal" class="btn btn-primary" data-iduser="@item.iduser">Sửa</button>
                                        <a class="btn btn-danger" data-iduser="@item.iduser" onclick="btnDelete('@item.iduser')">Vô hiệu</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display:flex;align-items:center">
                <div style="font-size:25px" class="modal-title" id="exampleModalLabel">Sửa thông tin đăng ký</div>
                <div style="flex:auto">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size:25px" aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form id="edit-form" method="post" action="/admin/employees/edit">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Vô hiệu</label>
                        <input type="checkbox" class="form-control" id="hide-edit" style="width:fit-content"
                               name="hide">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mã nhân viên</label>
                        <input type="text" class="form-control" id="edit-id" name="iduser">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Họ và tên</label>
                        <input type="text" name="name" class="form-control" id="edit-name" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="edit-email" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Giới tính</label>
                        <select name="gender" class="form-control" id="edit-gender">
                            <option value="Male">Nam</option>
                            <option value="Female">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Số điện thoại</label>
                        <input type="tel" name="phone" class="form-control" id="edit-phone" min="10" max="10" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Năm sinh</label>
                        <input type="datetime-local" class="form-control" name="birth" id="edit-birth" required />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Phân quyền</label>
                        <select name="role" class="form-control" id="edit-role">
                            <option value="Admin">Quản trị viên</option>
                            <option value="Doctor">Bác sĩ</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success" id="confirmEdit">Sửa</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addleModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display:flex;align-items:center">
                <div style="font-size:25px" class="modal-title" id="exampleModalLabel">Thêm nhân viên</div>
                <div style="flex:auto">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size:25px" aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form method="post" id="register-form" action="/users/create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Phân quyền</label>
                        <select class="form-control" id="edit-role" name="role">
                            <option value="Admin">Quản trị viên</option>
                            <option value="Doctor">Bác sĩ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Họ và tên</label>
                        <input class="form-control" name="name" type="text" required placeholder="Họ và tên" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Email</label>
                        <input class="form-control" name="email" type="email" required placeholder="Email" />
                    </div>
                    <div class="form-group" style="width: 100%; float: left; display: flex; align-items: center; justify-content: flex-start;">
                        <label>Giới tính</label>
                        <div class="form-check form-check-inline" style="display:flex">
                            <div>
                                <input class="form-check-input" type="radio" name="gender" value="Male" id="male" checked>
                                Nam
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="gender" value="Female" id="female"> Nữ
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="gender" value="Other" id="other"> Khác
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Số điện thoại</label>
                        <input class="form-control" name="phone" placeholder="Số điện thoại" required />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Năm sinh</label>
                        <input class="form-control" name="birth" type="date" placeholder="Ngày sinh" required />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Mật khẩu</label>
                        <input class="form-control" required id="password" name="password" type="password" placeholder="Mật khẩu" minlength="8" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ảnh đại diện</label>
                        <div class="custom-file">
                            <input class="form-control" type="file" name="file" id="file" accept="image/*" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success">Thêm mới</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dataTableExample = document.querySelector('#dataTables-example');
        if (dataTableExample) {
            var table = new DataTable(dataTableExample, {
                responsive: true
            });
        }
    });

    function handleSelect(elm) {
        window.location = "?role=" + elm.value;
    }

    function selectSearch() {
        let urlSearch = window.location.search
        const myOpts = Array.from(document.getElementById('select-role').options);
        myOpts.map(ele => {
            if (ele.value == urlSearch.split("=")[1])
                ele.setAttribute("selected", true);
        });
    }
    selectSearch()

</script>

<script>
    function deleteitem(iduser) {
        console.log(iduser)
        $.ajax({
            url: "/admin/employees/disable",
            type: "put",
            data: JSON.stringify({
                iduser: iduser
            }),
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            success: function (res) {
                console.log(res)
                if (res.code == 0) {
                    swal({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Đã vô hiệu hóa tài khoản!',
                        showconfirmbutton: false,
                        timer: 1500
                    }).then(() => {
                        $('#row-' + iduser).css("background-color", "#eee")
                    })
                }
                if (res.code == 1) {
                    console.lg(res.message)
                }
            },
            error: function (xhr, status, error) {
                console.log(error)
            }
        });
    }

    function btnDelete(iduser) {
        swal({
            title: "Are you sure?",
            text: "Vô hiệu hóa tài khoản nhân sự này!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    deleteitem(iduser);
                } else {
                }
            });
    }
</script>
<script>
    $("#register-form").submit(function (event) {
        event.preventDefault();
        event.stopPropagation();
        const data = new FormData($("#register-form")[0])
        console.log($("#register-form")[0]);
        $.ajax({
            type: "POST",
            url: "/admin/employees/create",
            data: data,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code === 0) {
                    swal("good job!", "Đăng ký tài khoản thành công!", "success")
                }
                if (res.code === 1) {
                    swal("Lỗi!", res.message, "warning")
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    })

    //sửa
    function btnEdit(iduser) {
        console.log("Ok")
        $.ajax({
            url: "/admin/employees/getinfo",
            type: 'get',
            data: { iduser: iduser },
            success: function (res) {
                console.log(res.data)
                //$("#edit-gender option:eq(1)").prop("selected", true);

                var date = new Date(parseInt(res.data.birth.substr(6)));
                var formattedDate = date.toISOString().substring(0, 16);

                $('#edit-id').val(res.data.iduser)
                $('#edit-name').val(res.data.name)
                $('#edit-email').val(res.data.email)
                $('#edit-phone').val(res.data.phone)
                $('#edit-gender').val(res.data.gender).change()
                $('#edit-birth').val(formattedDate)
                $('#hide-edit').prop('checked', res.data.hide ? true : false);
                $('#confirmedit').attr("data-iduser", iduser)

            },
            error: function (xhr, status, error) {
                console.log("lỗi")
            }
        });
    }
</script>

