@model IEnumerable<DoctorSkin.Models.BlogDetails>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";

    DoctorSkin.Models.DoctorSkinEntities db = new DoctorSkin.Models.DoctorSkinEntities();

}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
<div class="sales-boxes">
    <div class="recent-sales box" style="width: 100%;">
        <div class="col-md-12">
            <div>
                <div class="title" style="width:fit-content;margin:0 auto">
                    Danh sách bài viết
                </div>
                <div style="padding:0px !important">
                    <a style="margin:0px !important" class="btn btn-primary ml-3" href="/admin/blogdetails/create">Thêm bài viết mới</a>
                </div>
                <div style="margin-top: 20px">
                    <table class="table" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Số thứ tự
                                </th>
                                <th>
                                    Tiêu đề
                                </th>
                                <th>
                                    Ảnh đại diện
                                </th>
                                <th>
                                    Ngày đăng
                                </th>
                                <th>
                                    Thao tác
                                </th>
                                <th>
                                    Ẩn
                                </th>


                            </tr>
                        </thead>
                        @{var Number = 1; }
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.idb">
                                    <td>
                                        @Html.Raw(Number++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.title)
                                    </td>
                                    
                                    <td>
                                        <div>
                                            <img style="width:100px;object-fit:cover" src="@item.cardimg" />
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.date_up)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.idb }) 
                                        <a href="/bai-viet/@item.metablog">Detail</a>
                                        <a style="color:red" data-id="@item.idb" onclick="btnDelete('@item.idb')">Xóa</a>
                                    </td>
                                    <td>
                                        <input data-idb="@item.idb" class="blog-checkbox" type="checkbox" @(item.hideblog ? "checked" : "")>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
<script>
    document.getElementById('item-tintuc').classList.add("active")

    document.addEventListener('DOMContentLoaded', function () {
        const dataTableExample = document.querySelector('#dataTables-example');
        if (dataTableExample) {
            var table = new DataTable(dataTableExample, {
                responsive: true
            });
        }
    });

</script>
<script>
    function deleteItem(idb) {
        $.ajax({
            url: "/admin/blogdetails/delete",
            type: "DELETE",
            data: JSON.stringify({
                idb: Number(idb)
            }),
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            success: function (response) {
                swal({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Xóa bài thành công!',
                    showConfirmButton: false,
                    timer: 1000
                }).then(() => {
                    $('#row-' + idb).remove()
                })
            },
            error: function (xhr, status, error) {
                console.log(stt)
            }
        });
    }

    function btnDelete(idb) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this item!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    // User confirmed the deletion
                    // Proceed with the AJAX request
                    deleteItem(idb);
                } else {
                    // User cancelled the deletion
                    // Handle accordingly
                }
            });
    }


    $("#edit-form").submit(function (event) {
        event.preventDefault();
        event.stopPropagation();

        let data = {
            stt: $('#confirmEdit').data("stt"),
            name: $('#edit-name').val(),
            email: $('#edit-email').val(),
            phone: $('#edit-phone').val(),
            require: $('#edit-require').val(),
            timebooking: $('#edit-time').val()
        }

        $.ajax({
            type: "PUT",
            dataType: "json",
            url: "/admin/bookings/edit",
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            data: JSON.stringify(data),
            success: function (res) {
                window.location.reload();
            },
            error: function (err) {
                console.log("Lỗi Api")
            }
        })
    })

    //xử lý check
    $('.blog-checkbox').change(function () {
        var checkbox = $(this);
        var stt = checkbox.data('idb');
        var completed = checkbox.prop('checked');

        $.ajax({
            url: '/admin/blogdetails/hideBlog',
            type: 'PUT',
            data: { idb: stt, hideblog: completed },
            success: function (res) {
                console.log("ok")
            },
            error: function (xhr, status, error) {
                console.log("lỗi")
            }
        });
    });
</script>

